<svg width="65px" height="65px" viewBox="0 0 97 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Aro</title>
    <defs>
        <filter x="-35.4%" y="-36.0%" width="170.8%" height="172.1%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="4.6" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-12.5%" y="-12.8%" width="125.1%" height="125.6%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="1.6" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-34.2%" y="-34.8%" width="168.4%" height="169.7%" filterUnits="objectBoundingBox" id="filter-3">
            <feGaussianBlur stdDeviation="2.6" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="Categoria" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="CAT-/-SIMPLES-/-2-Colunas-/-TAM-SEL-Copy-3" transform="translate(-1572.000000, -824.000000)">
            <g id="SYMBOL" transform="translate(1591.000000, 843.000000)">
                <g id="Group-14">
                    <ellipse id="Oval-Copy-3" stroke="#FFF0A4" stroke-width="14.2" filter="url(#filter-1)" cx="29.5" cy="29" rx="29.5" ry="29"></ellipse>
                    <ellipse id="Oval-Copy-3" stroke="#28FF12" stroke-width="1.8" filter="url(#filter-2)" cx="29.5" cy="28.9550388" rx="22.7310078" ry="22.3007752"></ellipse>
                    <ellipse id="Oval-Copy-3" stroke="#EDF4BC" stroke-width="11.6" filter="url(#filter-3)" cx="29.5" cy="28.9550388" rx="19.8953488" ry="19.5131783"></ellipse>
                </g>
            </g>
        </g>
    </g>
</svg>