<svg width="14px" height="20px" viewBox="0 0 14 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59 (86127) - https://sketch.com -->
    <title>-</title>
    <desc>Created with Sketch.</desc>
    <g id="Página-de-Produto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="WIREFRAME-/-PROD-Copy-7" transform="translate(-1578.000000, -305.000000)" fill="#DECCCC" fill-rule="nonzero">
            <g id="Group-7" transform="translate(1236.000000, 119.000000)">
                <g id="Module-/-Prod-Sel" transform="translate(0.000000, 141.000000)">
                    <g id="TAM-SEL" transform="translate(29.000000, 27.000000)">
                        <path d="M323.381479,23.655 L332.035,30.655 L323.381479,37.655 L322.502606,36.6456977 L326.254718,33.5852326 C327.336408,32.7061628 328.519507,31.8596512 329.296972,31.2736047 C328.384296,31.3061628 326.491338,31.3061628 324.665986,31.3061628 L308.035,31.3061628 L308.035,29.9712791 L324.665986,29.9712791 C326.491338,29.9712791 328.384296,30.0038372 329.296972,30.0363953 C328.519507,29.4503488 327.268803,28.5712791 326.187113,27.6922093 L322.502606,24.6643023 L323.381479,23.655 Z" id="-" transform="translate(320.035000, 30.655000) rotate(-270.000000) translate(-320.035000, -30.655000) "></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>