<svg width="77px" height="77px" viewBox="0 0 77 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Aro</title>
    <desc>Logo</desc>
    <defs>
        <filter x="-7.8%" y="-7.8%" width="115.7%" height="115.7%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="1.78630393" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-7.6%" y="-7.6%" width="115.2%" height="115.3%" filterUnits="objectBoundingBox" id="filter-2">
            <feGaussianBlur stdDeviation="1.33972795" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-14.9%" y="-14.9%" width="129.8%" height="129.8%" filterUnits="objectBoundingBox" id="filter-3">
            <feGaussianBlur stdDeviation="2.23287991" in="SourceGraphic"></feGaussianBlur>
        </filter>
        <filter x="-32.2%" y="-32.7%" width="164.3%" height="165.3%" filterUnits="objectBoundingBox" id="filter-4">
            <feGaussianBlur stdDeviation="3.76999986" in="SourceGraphic"></feGaussianBlur>
        </filter>
    </defs>
    <g id="Página-de-Produto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="WIREFRAME-/-PROD-Copy-7" transform="translate(-17.000000, -772.000000)">
            <g id="Group-12-Copy-9" transform="translate(21.000000, 776.000000)">
                <g id="Group-12-Copy">
                    <circle id="Oval-Copy-3" fill="#FCBFAA" filter="url(#filter-1)" cx="34.1899987" cy="34.1899987" r="34.1899987"></circle>
                    <ellipse id="Oval-Copy-3" fill-opacity="0.477545892" fill="#BE9A5E" filter="url(#filter-2)" cx="34.1899987" cy="34.1258524" rx="26.3641454" ry="26.299999"></ellipse>
                    <circle id="Oval-Copy-3" fill-opacity="0.630599869" fill="#B6FFC1" filter="url(#filter-3)" cx="34.1899987" cy="34.1899987" r="22.515365"></circle>
                    <ellipse id="Oval-Copy-4" fill="#282560" opacity="0.320824033" filter="url(#filter-4)" cx="34.1258524" cy="34.1899987" rx="17.5760969" ry="17.3195116"></ellipse>
                </g>
            </g>
        </g>
    </g>
</svg>