<svg width="24px" height="12" viewBox="0 0 24 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59 (86127) - https://sketch.com -->
    <title>-</title>
    <desc>Created with Sketch.</desc>
    <g id="Página-de-Produto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="WIREFRAME-/-PROD-Copy-7" transform="translate(-1563.000000, -390.000000)" fill="#DECCCC" fill-rule="nonzero">
            <g id="Group-7" transform="translate(1236.000000, 119.000000)">
                <g id="Module-/-Prod-Sel" transform="translate(0.000000, 141.000000)">
                    <g id="Button-/-Add" transform="translate(29.000000, 108.000000)">
                        <path d="M313.381479,22.655 L322.035,29.655 L313.381479,36.655 L312.502606,35.6456977 L316.254718,32.5852326 C317.336408,31.7061628 318.519507,30.8596512 319.296972,30.2736047 C318.384296,30.3061628 316.491338,30.3061628 314.665986,30.3061628 L298.035,30.3061628 L298.035,28.9712791 L314.665986,28.9712791 C316.491338,28.9712791 318.384296,29.0038372 319.296972,29.0363953 C318.519507,28.4503488 317.268803,27.5712791 316.187113,26.6922093 L312.502606,23.6643023 L313.381479,22.655 Z" id="-"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>