<svg width="21px" height="22px" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 59 (86127) - https://sketch.com -->
    <title>LUPA@1x</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile-/-Menu-/-Menu-Topo" transform="translate(-428.000000, -22.000000)" stroke="#000000">
            <g id="MENU-TOP-MOBILE">
                <g id="LUPA" transform="translate(429.000000, 23.000000)">
                    <g>
                        <circle id="Oval" cx="7" cy="7" r="7"></circle>
                        <line x1="11.5" y1="12.5" x2="19.5" y2="20.5" id="Line" stroke-linecap="square"></line>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>