<form action="{{ routes.cart_url }}" method="post" novalidate class="minicart-content {%if template == 'product' %}minicart-content--product{%endif%}">
  <div class="minicart-dismiss">
    <button class="btn-link btn-minicart-dismiss">{% render 'aro-x' %}</button>
  </div>
  <div>
    <div class="mt3">Minha sacola</div>

    <div class="minicart-items">
    </div>
  </div>

  <div class="minicart-bottom">
    <div class="minicart-subtotal">
      <div>Subtotal</div>
      <div class="subtotal-value-container">
        <div class="subtotal-value"></div>
        <div class="subtotal-installments"></div>
      </div>
    </div>

    <div class="minicart-frete">
    </div>

    <button type="submit" name="checkout" class="btn-link btn-minicart-go">
      <span class="minicart-button-text">CONCLUIR</span> 
      <span class="icon-minicart-button">{% render 'aro-go' %}</span>
    </a>
  </div>
</form>
