<div class="sidebar-menu-container">
  {% assign menu_names = "loja-e-produtos marca ajuda" | split: ' ' %}
  {% for menu_name in menu_names %}
    <div class="menu-{{ menu_name | handleize }} {% unless menu_name == 'loja-e-produtos' %} mt7 {% endunless %}">
      {% assign menu = linklists[menu_name] %}
      {% unless menu_name == 'ajuda' %}
      <div class="sidebar-menu-title">{{ menu.title }}</div>
      {% endunless %}
  
      <ul>
        {% for link in menu.links %}
          <li class="sidebar-menu-link-li {% if link.active %} sidebar-menu-li--active {% endif %}">
            <a href="{{ link.url }}"
              class="sidebar-menu-a {% if link.active %} sidebar-menu-a--active{% endif %}"
              {% if link.active %} aria-current="page"{% endif %}
            >
              <div class="sidebar-menu-text">
                {{ link.title | escape }}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>