 {% assign tagsPath = '' %}
    {% if collection.handle == "encomendas" %}
        <div>
            ..
          </div>
          {% else %}
          <div>
            :
          </div>
    {% endif %}
  