 {% assign tagsPath = '' %}
    {% if collection.handle == "encomendas" %}
        <div class="aro-symbol--ss">
            <a class="icon-link" href="/">{% render 'aro-symbol-cat-page' %}</a>
          </div>
          {% else %}
          <div>
            :
          </div>
    {% endif %}
  