 {% assign tagsPath = '' %}
    {% if collection.handle == "sob encomenda" %}
        <div class="aro-symbol--ss">
            <a class="icon-link" href="/">{% render 'aro-symbol-cat-page' %}</a>
          </div>
          {% else %}
          <div class="size-selector__label">
            Filtre aqui a disponibilidade das peças no seu tamanho:
          </div>
    {% endif %}
  