<div class="header-beneficios">
  <div class="header-beneficios__label">
    Filtre aqui a disponibilidade das peças no seu tamanho:
  </div>

  <div class="header-beneficios__label">
    <a href="/pages/tabela-de-medidas">Dúvidas? Dá um confere na nossa tabela.</a>
  </div>

  <div class="aro-symbol--ss">
    <a class="icon-link" href="/">{% render 'aro-symbol-cat-page' %}</a>
  </div>
</div>
