{% comment %}
{% unless template != 'index' %}
<script> window.location.replace( '/collections/todos' ); </script>
{% endunless %}
Script acima redireciona home para "todos", remover o bloco para voltar ao comportamento normal
{% endcomment %}


{% section 'header' %}
{% section 'footer' %}
{% comment %}
{% section 'feature-row' %}
{% section 'feature-columns' %}
{% section 'image-bar' %}


{% section 'header2' %}
{% section 'hero' %}

{% section '' %}
{% section '' %}
{% endcomment %}

<script>
  document.documentElement.style.setProperty("--homegrad", '59%');
  
  var currentGradientDegree = 120
  document.documentElement.style.setProperty("--homegraddeg", currentGradientDegree + 'deg');

  window.addEventListener('DOMContentLoaded', function() {
    (function($) {
      $('body').mousemove(function(getCurrentPos) {
        var xCord = getCurrentPos.pageX;
        var pageWidth = $(document).width()
        var xPercent = xCord / pageWidth * 100;

        if (xPercent > 80) {
          xPercent = 80;
        }

        document.documentElement.style.setProperty("--homegrad", xPercent+'%');
      })

      setInterval(function() {
        currentGradientDegree += 0
        if (currentGradientDegree > 0) {
          currentGradientDegree = 0
        }
        document.documentElement.style.setProperty("--homegraddeg", currentGradientDegree + 'deg');
      }, 600)
    })(jQuery);
  });
</script>

<h1 class="home-title">Oi, como você quer escolher o seu novo Vênus Atômica?</h1>

<div class="page-width">
  <div class="size-selector--home">
    <a class="size-selector-btn" href="/collections/p">P</a>
    <a class="size-selector-btn" href="/collections/m">M</a>
    <a class="size-selector-btn" href="/collections/g">G</a>
    <a class="size-selector-btn" href="/collections/gg">GG</a>
    <a class="size-selector-btn" href="/collections/eg">EG</a>
    <a class="size-selector-btn" href="/collections/egg">EGG</a>
  </div>

  <div class="home-bottom">
    <div class="home-bottom--right">
      <div class="home-text">
        Entre e fique à vontade. <br/>
		Entendemos que não faz sentido escolher uma peça através de um corpo que não te represente. Por isso, te convidamos a escolher um tamanho que te seja familiar e então mostraremos todas as peças em um formato que faça mais sentido pra você.
      </div>

      <a class="home-textinho" href="/pages/por-que-aro">(Quer saber por que nos juntamos?, clique aqui - é só o começo)</a>
    </div>

    <div class="home-bottom--left">
      <a class="btn-link btn-dont-know-size" href="/collections/todos/">
        <span class="flex justify-between items-center">
          <span>Quero ver todos os tamanhos juntos.</span>
          <span class="icon-arrow">{% render 'aro-go' %}</span>
        </span>
      </a>
    </div>
  </div>
</div>

{% comment %} {{ content_for_index }} {% endcomment %}
